In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
irisdata = pd.DataFrame(iris.data, columns=iris.feature_names)

In [5]:
irisdata.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
#Mean

In [6]:
irisdata.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [7]:
irisdata['sepal length (cm)'].mean()

5.843333333333334

In [19]:
#Median

In [8]:
irisdata['sepal length (cm)'].median()

5.8

In [21]:
#Mode

In [9]:
irisdata['sepal length (cm)'].mode()

0    5.0
dtype: float64

In [24]:
#standard deviation

In [10]:
irisdata['sepal length (cm)'].std()

0.828066127977863

In [30]:
#quantile()

In [11]:
irisdata['sepal length (cm)'].quantile(.25)

5.1

In [12]:
irisdata['sepal length (cm)'].quantile([.25,.5,.75])

0.25    5.1
0.50    5.8
0.75    6.4
Name: sepal length (cm), dtype: float64

In [13]:
#describe

In [14]:
irisdata.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [15]:
#skew()

In [16]:
irisdata['sepal length (cm)'].skew()

0.3149109566369728

In [17]:
#kurtosis()

In [18]:
irisdata['sepal length (cm)'].kurtosis()

-0.5520640413156395

In [20]:
#corr()

In [21]:
irisdata.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),1.000000,-0.117570,0.871754,0.817941
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126
petal length (cm),0.871754,-0.428440,1.000000,0.962865
petal width (cm),0.817941,-0.366126,0.962865,1.000000

In [22]:
irisdata[['petal width (cm)','petal length (cm)']].corr()

                   petal width (cm)  petal length (cm)
petal width (cm)           1.000000           0.962865
petal length (cm)          0.962865           1.000000

In [23]:
#cov()

In [24]:
irisdata.cov()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),0.685694,-0.042434,1.274315,0.516271
sepal width (cm),-0.042434,0.189979,-0.329656,-0.121639
petal length (cm),1.274315,-0.329656,3.116278,1.295609
petal width (cm),0.516271,-0.121639,1.295609,0.581006